<head>
	<title>Minu kodukas!</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
	<h1>Suur pealkiri</h1>
	<h1 class="kastiga">Keskmine pealkiri</h1>
	<h3>Väike pealkiri</h3>
	<h4>Veel väiksem pealkiri</h4>
	<p>Paragraaf. Tavaline tekst.</p>
	<ol> <!-- ordered list -->
		<li class="kastiga">Esimene</li>
		<li>Teine</li>
		<li>Kolmas</li>
	</ol>
	<form>
	<input id="nimi" placeholder="Mis on su nimi"/>
	<input type="checkbox"/>
	<input type="range"/>
	<input type="submit">
	<input type="date">
    </form>
    <img width="100" src="https://www.google.ee/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"/>
    <script src="script.js"></script>
</body>

