body {
	background-color: #BDB76B;
	font-family: Arial
	font-size: 18px;
}
form {
	border: 5px solid black;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
}

form input {
	display: block;
}

.kastiga {
	border: 2px solid green;
}