<head>
	<title>Chatroom</title>
</head>
<body>
	<input id="room" value="general">
	<div id="jutt"></div>
<form>
	<input id="username" value="Rauno" placeholder="kasutaja"/>	
	<input id="message" value="Minu esimene sonum" placeholder="sõnum"/>
    <input id="url" value="pildi URL" placeholder="URL"/>
    <input type="submit"/>
</form>
<script src="script.js"></script>
<body>